<div class="form-group">
  <label for="habit_title">Title</label>
  <input id="habit_title"
         class="form-control"
         type="text"
         name="title"
         value="<%= habit.escape('title')%>">
</div>

<div class="form-inline">
  <div class="form-group">
    <label for="habit-often">How often</label>
    <select name="num_days_per_week" class="form-control" id="habit-often">
      <option value=1 <%= habit.get('num_days_per_week') === 1 || !habit.get('num_days_per_week') ? "selected" : "" %>>1 day a week</option>
      <option value=2 <%= habit.get('num_days_per_week') === 2 ? "selected" : "" %>>2 days a week</option>
      <option value=3 <%= habit.get('num_days_per_week') === 3 ? "selected" : "" %>>3 days a week</option>
      <option value=4 <%= habit.get('num_days_per_week') === 4 ? "selected" : "" %>>4 days a week</option>
      <option value=5 <%= habit.get('num_days_per_week') === 5 ? "selected" : "" %>>5 days a week</option>
      <option value=6 <%= habit.get('num_days_per_week') === 6 ? "selected" : "" %>>6 days a week</option>
      <option value=7 <%= habit.get('num_days_per_week') === 7 ? "selected" : "" %>>7 days a week</option>
    </select>
  </div>

  <div class="form-group weight-selection">
  <label for="habit_weight">Importance</label>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default">
      <input type="radio" name="weight" value=3 <%= habit.get('weight') === 3 ? "checked" : "" %>> !!!
    </label>
    <label class="btn btn-default active">
      <input type="radio" name="weight" value=2 <%= habit.get('weight') === 2|| !habit.get('weight') ? "checked" : "" %>> !!
    </label>
    <label class="btn btn-default">
      <input type="radio" name="weight" value=1 <%= habit.get('weight') === 1 ? "checked" : "" %>> !
    </label>
  </div>
</div>
</div>

<div class='save-selections'>
<button class="btn btn-primary habit-save-btn">Save</button> <a href="#" class="cancel-link">cancel</a>
</div>


<!-- where should i be putting this? -->
<script charset="utf-8">
  $('.btn').button();
</script>
