<!DOCTYPE html>
<html>
<head>
  <title>HabitrackApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- temp header -->
  <% if signed_in? %>
    <%= button_to "Sign out", session_url, method: :delete, class: "btn btn-danger" %>
    <% else %>
    <ul>
      <li><%= link_to "Log in", new_session_url %></li>
      <li><%= link_to "Sign up", new_user_url %></li>
    </ul>
  <% end %>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
